<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Voltaire' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/d3/d3.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="https://d3js.org/d3-axis.v1.min.js"></script> 
    <script src="js/app.js"></script> 
  </head>
  <body ng-app="viz" ng-controller="studentScatter">
    <div>
    

      <scatter-chart active="activeStudent" data="formattedData" elephant="elephant" activeobj="activeObj" start="startMonth" duration="numberOfMonths" labels="monthLabels"></scatter-chart> 

      <student-list students="rawData" activeobj="activeObj"></student-list>

     <bar-chart></bar-chart>
     
      <div  ng-repeat="studentD in rawData" activeobj="{{activeObj}}">
        <button ng-click="clickHelp(studentD.id)"  ng-style="{backgroundColor: activeObj.student === studentD.id ? '#eb7e61' : '#f9f9f7', color: activeObj.student === studentD.id ? '#fdf7f5' : '#253f73'}" >
        <h3><span>{{studentD.name}}

          </span>
          <span>{{studentD.id}}
          </span>
        </h3>

      </button>
      </div>
    

    </div>

  </body>
</html>